.border-top-common {
  border-top: 3px solid black;
}
.border-right-common {
  border-right: 3px solid black;
}
.border-bottom-common {
  border-bottom: 3px solid black;
}
.border-left-common {
  border-left: 3px solid black;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.intro {
  text-align: center;
  padding: 60px 0;
}

h1, h2, strong {
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
}



.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
}

.education, .reviews {
  padding: 10px 30px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-list div {
  padding: 10px 30px;
}

.experience div {
  padding: 10px 30px;
}

.experience a {
  text-decoration: none;
  color: cornflowerblue;
}

.experience p {
  line-height: 1.8;
}

.education ul li::marker {
  content: "- ";
}

.education ul {
  padding-left: 10px;
}

.review-boxes {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.review {
  border: 2px solid black;
  border-radius: 40px;
  padding: 20px;
  flex: 1;
}

.author { 
  font-weight: 500;
  margin-top: 10px;
  color: gray;
}

footer {
  font-family: 'Comic Neue', cursive;
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  font-weight: 500;
}
